@model ClassicGarage.Models.AdvertismentModels
@{
    ViewBag.Title = "Wrong";
}

<h1 style="color:red;"> This car has already been added to an advertisement! </h1>
<h2 style="color:cornflowerblue;"> Please, choose another one! </h2>


<p>
    <a href="../AdvertismentModels/Create" class="btn btn-primary">Add advertisement &raquo;</a>
</p>


