@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <br />
    <br />
    <div class="jumbotron" style="background-color:lightskyblue">
        <h1>Classic Garage</h1>
        <p class="lead">Perfect website for managing your cars!</p>
    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="panel" style="background-color:floralwhite">

                <div class="panel-heading">
                    <h2>Advertisements</h2>
                </div>

                <div class="panel-body">
                    <div class="panel" style="background-color:floralwhite">
                        <p>
                            Here you will find plenty of interesting cars! 
                        </p>
                        <p>
                            Just try it out!
                        </p>
                    </div>
                    <p>
                        <a href="../AdvertismentModels/Index" class="btn btn-primary btn-lg">Go! &raquo;</a>
                    </p>
                </div>
                <!--<p><a class="btn btn-default">Go! &raquo;</a></p>-->
                
            </div>
        </div>
</div>